# Kompajlirani izvršni fajlovi
todo
todo.exe
*.out
*.exe
*.o
*.obj

# Fajl sa podacima
tasks.txt

# Debug fajlovi
*.dSYM/
*.su
*.idb
*.pdb

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Editor fajlovi
*.swp
*.swo
*~
.vscode/
.idea/

# Backup fajlovi
*.bak
*.backup
